**/.terraform/*
*.tfstate
*.tfstate.*
**/*.tfstate*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
crash.log
**/.terraform.lock.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
private.pem
public.pem